<md-toolbar md-colors="{background: 'primary-800'}">
    <div class="md-toolbar-tools">
        <a ui-sref="home" ui-sref-active="active" layout="row">

            <div class="mf-heading-logo-1">
                MSL
            </div>

            <div class="mf-heading-logo-2">
                Stats Calculator
            </div>
        </a>

        <span flex></span>

<!--
        <a ui-sref="home" ui-sref-active="active" class="md-subheader mf-nav">HOME</a>

<a ui-sref="about" ui-sref-active="active" class="md-subheader mf-nav">ABOUT</a>
-->
    </div>
</md-toolbar>
